/*----- Padding Fix -----*/

*
{
	box-sizing: border-box;
}

/*----- Clear Fix -----*/

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*----- Body Styles -----*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
}

a {
  transition: 333ms all ease-in-out;
}

a:hover {
  color: #FB8B6F;
}

/*----- Grid -----*/

.row {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.column {
  float: left;
  margin-right: 2%;
}

.column.two-third {
  width: 65%;
}
.column.one-half {
  width: 49%;
}
.column.one-third {
  width: 32%
}

.column:last-of-type {
  margin-right: 0;
}

/*----- iframe -----*/

iframe
{
    max-width: 100%;
    margin: 18.720px;
}

/*----- Header ----- */

header
{
	background: #ccc;
	padding: 10px;
	margin-bottom: 20px;
    border: 1px solid gray;
}

body#home header
{
	margin-bottom: 0px;
}

header.row
{
	margin-bottom: 0px;
}

.logo
{
	float: left;
	width:65px;
}

nav
{
	margin-top: 21px;
}

header nav
{
	float: right;
	text-align: right;
}

nav a 
{
	margin-right: 20px;
  	font-size: 13px;
  	color: #444;
  	text-decoration: none;
}

nav a:last-of-type
{
	margin: 0px;
}

.margin
{
    margin-top: 20px;
}

/*----- Main, Hero -----*/

.hero {
  background: #ccc;
  background-image: url('https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  margin: 0;
  padding: 120px 0;
  color: white;
  text-shadow: 0 0 10px #444;
  text-align: center;
}

/*----- Footer -----*/

footer
{
	background: #ccc;
	padding: 5px 0px;
	font-size: 11px;
	text-align: center;
    border: 1px solid gray;
}

footer p
{
    padding-bottom: 10px;
}

/*----- Media Queries -----*/

@media (max-width: 500px) {
  header {
    text-align: center;
  }

  .logo {
    float: none;
    width: 80px;
  }

  header nav {
    float: none;
    text-align: center;
  }

  .column {
    width: 100% !important;
    margin-right: 0;
  }
}

